Package: tailscale
Version: __VERSION__
Depends: libc, ca-bundle, kmod-tun
Provides: tailscaled
Source: https://github.com/GuNanOvO/openwrt-tailscale
SourceName: openwrt-tailscale
License: BSD-3-Clause
LicenseFiles: LICENSE
Section: net
SourceDateEpoch: __EPOCH__
URL: https://tailscale.com
CPE-ID: cpe:/a:tailscale:tailscale
Maintainer: GuNan <gunanovo@gmail.com>
Architecture: __ARCH__
Installed-Size: __SIZE__
Description: A smaller version of Tailscale.Built for OpenWrt. 
 It creates a secure network between your servers, computers,
 and cloud instances. Even when separated by firewalls or subnets.
